/* common */
@charset "utf-8";

:root {
	--white: #ffffff;
	--gray1: #f5f5f5;
	--gray2: #dbdbdb;
	--gray3: #cccccc;
	--gray4: #999999;
	--gray5: #555555;
	--gray6: #2e2e2e;
	--gray7: #212121;
	--black: #1e1e1e;
}

.jg-none {
	display: none;
}

/* font */
@font-face {
	font-family: "MinSans-Black-900";
	font-weight: 900;
	src: url("../fonts/MinSans-Black.woff2") format("woff2");
}
@font-face {
	font-family: "NotoSans-Black-900";
	font-weight: 900;
	src: url("../fonts/NotoSans-Black.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-ExtraBold-800";
	font-weight: 800;
	src: url("../fonts/NotoSans-ExtraBold.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-Bold-700";
	font-weight: 700;
	src: url("../fonts/NotoSans-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-Medium-500";
	font-weight: 500;
	src: url("../fonts/NotoSans-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-Regular-400";
	font-weight: 400;
	src: url("../fonts/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-Light-300";
	font-weight: 300;
	src: url("../fonts/NotoSans-Light.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-DemiLight-200";
	font-weight: 200;
	src: url("../fonts/NotoSans-DemiLight.woff2") format("woff2");
}

@font-face {
	font-family: "NotoSans-Thin-100";
	font-weight: 100;
	src: url("../fonts/NotoSans-Thin.woff2") format("woff2");
}
