@charset "utf-8";

:root {
}
body {
	background-color: #111;
	color: #fff;
	font-family: "MinSans-Bold-700";
}
.wrapper {
	height: 100vh;
	position: relative;
	.header {
		.top-area {
			position: sticky;
			box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.6);
			justify-content: space-between;
			display: flex;
			background-color: #222;
			height: 100px;
			padding-bottom: 20px;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			.logo {
				display: flex;
				img {
					width: 60px;
					height: 60px;
				}
				p {
					font-family: "MinSans-Bold-700";
					padding-left: 2px;
					padding-top: 40px;
					font-weight: 500;
					font-size: 18px;
				}
			}
			.top-area-icon {
				display: flex;
				gap: 15px;
				padding-top: 35px;
				i {
					font-size: 25px;
				}
			}
		}
		.gnb {
			gap: 15px;
			box-shadow: 0px -10px 24px rgba(0, 0, 0, 0);
			display: flex;
			height: calc(100vh - 115px);
			.gnb-container {
				box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.6);
				padding-top: 30px;
				width: 60px;
				height: calc(100vh - 100px);
				background-color: #222;
				.dashboard {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						font-size: 27px;
					}
				}

				.video {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						font-size: 32px;
					}
					&.jg-on {
						background-color: #111;
						position: relative;
						&::after {
							position: absolute;
							content: "";
							height: 60px;
							width: 5px;
							background-color: #fae114;
							left: calc(100% - 5px);
						}
					}
				}
				.device-events {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						font-size: 32px;
					}
				}
				.zoom {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						font-size: 30px;
					}
				}
				.map {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						font-size: 29px;
					}
				}
				.setting {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						font-size: 30px;
					}
				}
				.user {
					height: 60px;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;

					i {
						font-size: 32px;
					}
				}
			}

			.gnb-board {
				margin-top: 15px;
				background-color: #222;
				width: 300px;
				box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.6);
				height: calc(100vh - 115px);
				font-size: 15px;

				.jg-tree-dark {
					&-wrapper {
						width: 100%;
						height: 100%;
						padding: 15px 15px;
					}

					&-title {
						font-size: 21px;
						font-family: "MinSans-Bold-700";
						display: flex;
						justify-content: space-between;
						&-button {
							display: flex;
							gap: 10px;
						}
					}

					&-depth {
						&-wrapper {
						}

						&-1 {
							&-wrapper {
								color: #ddd;
								overflow-x: scroll;
								white-space: normal;
								width: 100%;
								box-sizing: content-box;
							}
						}
						&-2 {
							&-wrapper {
								width: 100%;
								box-sizing: content-box;
								.jg-tree-dark-button-box {
									padding-left: 20px;
								}
							}
						}

						&-3 {
							&-wrapper {
								width: 100%;
								box-sizing: content-box;
								.jg-tree-dark-button-box {
									padding-left: 40px;
								}
							}
						}
						&-4 {
							&-wrapper {
								width: 100%;
								box-sizing: content-box;
								.jg-tree-dark-button-box {
									padding-left: 60px;
								}
							}
						}
						&-5 {
							&-wrapper {
								width: 100%;
								box-sizing: content-box;
								.jg-tree-dark-button-box {
									padding-left: 160px;
								}
							}
						}
						&-6 {
							&-wrapper {
								width: 100%;
								box-sizing: content-box;
								.jg-tree-dark-button-box {
									padding-left: 100px;
								}
							}
						}
					}

					&-button {
						display: flex;
						justify-content: space-between;
						width: 100%;
						position: relative;
						// 잡았을 떄
						&.jg-hold {
							&::before {
								position: absolute;
								content: "";
								bottom: 0;
								left: 0;
								width: 270px;
								height: 1px;
								background: #555;
							}

							&::after {
								position: absolute;
								content: "";
								bottom: -7.5px;
								right: 50%;
								transform: translateX(50%);
								width: 0px;
								height: 0px;
								border-left: 7.5px solid transparent;
								border-right: 7.5px solid transparent;
								border-top: 7.5px solid #fff;
							}
						}

						// 리스트 펼쳐졌을 때 부모-자식 구분선
						&.jg-acitve-list {
							border-bottom: 1px solid #555;
						}

						&-box {
							//클릭해서 리스트 펼쳤을 때

							&.jg-active {
								background-color: #444;
								color: #fff;
							}

							// 호버했을 때
							&:hover {
								background-color: #555;
								color: #fff;
								cursor: pointer;
								transition: 0.5s;
								.jg-tree-dark-button-box-ham {
									visibility: visible;
								}

								// // 호버했을 때 햄버거 메뉴
								// ::after {
								//     position: absolute;
								//     bottom: 14px;
								//     font-family: xeicon;
								//     content: '\e91c';
								//     text-align: center;
								//     align-items: center;
								//     justify-content: center;
								//     border-radius: 5px;
								//     font-size: 17px;
								//     height: 15px;
								//     width: 30px;

								//     color: #ccc;
								//     right: 20px;
								//     display: flex;
								// }

								// list-arrow-close
								// &::before {
								//     position: absolute;
								//     content: '';
								//     bottom: 0;
								//     right: 0;
								//     width: 0px;
								//     height: 0px;
								//     border-left: 10px solid transparent;
								//     border-right: 10px solid #fff;
								//     border-top: 10px solid transparent;
								// }

								// list-arrow-open
								// &::before {
								//     position: absolute;
								//     content: '';
								//     bottom: -7.5px;
								//     right: 0;
								//     width: 0px;
								//     height: 0px;
								//     border-left: 7.5px solid transparent;
								//     border-right: 7.5px solid transparent;
								//     border-top: 7.5px solid #fff;
								// }
							}
							padding: 10px 10px;

							display: flex;
							&-span {
								padding-right: 10px;
							}
							&-i {
								padding-right: 10px;
								font-size: 20px;
							}
							&-pwrap {
								min-width: 250px;
								width: 100%;
								display: flex;
							}
							&-p {
								word-wrap: break-word;
								padding-right: 10px;
							}
							&-noicon {
								.jg-tree-dark-button-box-span {
									padding-right: 10px;
								}
								display: flex;
								.jg-tree-dark-button-box-p {
									padding-right: 10px;
								}
								.jg-tree-dark-button-box-i {
									display: none;
									padding-right: 0;
								}
								&-nocheck {
									display: flex;
									.jg-tree-dark-button-box-i {
										display: none;
										padding-right: 0;
									}
									.jg-tree-dark-button-box-p {
										padding-right: 10px;
									}
									.jg-tree-dark-button-box-span-input {
										display: none;
									}
								}
							}

							&-nocheck {
								display: flex;
								.jg-tree-dark-button-box-i {
									padding-right: 10px;
								}
								.jg-tree-dark-button-box-p {
									padding-right: 10px;
								}
								.jg-tree-dark-button-box-span-input {
									display: none;
								}
								&-noicon {
									.jg-tree-dark-button-box-span-input {
										display: none;
									}
									display: flex;
									.jg-tree-dark-button-box-p {
										padding-right: 10px;
									}
									.jg-tree-dark-button-box-i {
										display: none;
										padding-right: 0;
									}
								}
							}

							&-ham {
								visibility: hidden;
								margin-left: auto;
								margin-right: 5px;
								font-size: 20px;
								transform: translateY(1px);
								color: #fff;
							}
						}
					}
				}
			}

			.top-area-icon {
				.list {
					width: 18px;
					height: 18px;
				}
				.app {
					width: 18px;
					height: 18px;
				}
			}
			.device-list {
				.search-bar {
					width: 16px;
					height: 16px;
				}
				.refresh {
					width: 16px;
					height: 16px;
				}
			}
			.gnb-content {
				.video-file {
					width: 14px;
					height: 18px;
				}
			}
		}
	}
}

.main {
	box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 115px;
	right: 15px;
	width: calc(100% - 405px);
	background-color: #222;
	height: calc(100% - 130px);
	.video {
	}
}
